* {
  margin:0px;
  padding:0px;
}

.logo {
  margin: 5px auto 5px auto;
}

.header {
  color: #D4AF37;
  font-family:"monotype corsiva";
  text-decoration: underline;
  text-align: center;
  margin: 10px auto 10px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects {
  background-color: black;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

table {
  padding-left: 10%;
  padding-right: 10%;
  margin: 10px auto 10px auto;
}

footer {
  text-align: center;
  /* This font is not being loaded on my computer because youre not linking the font in.*You may have to pay for the font -- so id stick with something of a similar font style for now and link it in later. We can go over that together*/
  font-family:"monotype corsiva";
  /* Theres nothing inherently wrong with using pt, but its rarely used in industry, i'd avoid it for now for simplicty and stick to pixels*/
  font-size: 20pt;
  margin-top: 20px;
  margin-bottom: 20px;
}
